* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "FT Regola Neue", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

.header {
  border: 2px solid rgba(55, 30, 5, 0.867);
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c7c1db;
  border: none;
}

.logo {
  margin-left: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  margin-right: 35px;
}

/* From Uiverse.io by AqFox */
button {
  --c: #fff;
  /* text color */
  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%)
      var(--_p, 100%) / 300% no-repeat,
    #0900ff;
  /* background color */
  color: #0000;
  border: none;
  transform: perspective(500px) rotateY(calc(20deg * var(--_i, -1)));
  text-shadow: calc(var(--_i, -1) * 0.08em) -0.01em 0 var(--c),
    calc(var(--_i, -1) * -0.08em) 0.01em 2px #0004;
  outline-offset: 0.1em;
  transition: 0.3s;
}

button:hover,
button:focus-visible {
  --_p: 0%;
  --_i: 1;
}

button:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9e9Q #0005;
  transition: 0s;
}

button {
  font-family: system-ui, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  cursor: pointer;
  padding: 0.1em 0.3em;
}

/* .menu button {
  padding: 10px;
  border-radius: 20px;
  color: #876972;
  background-color: #363748;
} */

img {
  width: 40px;
  color: #c5b7f6;
}
h1 {
  color: #363748;
  font-family: Poppins, sans-serif;
}

h2 {
  text-decoration: none;
}

.landing-page {
  /* height: 80vh; */
  background-image: linear-gradient(to bottom, #b0a0fc);
  background-size: cover;
  display: flex;
  justify-content: space-around;
  padding-top: 6em;
  padding-bottom: 13em;
  /* color: #E89B19;
    font-size: 2em; */
}

.leftside {
  font-size: 50px;
  font-family: Poppins, sans-serif;
}

.leftside a h2 {
  color: #363748;
}

.rightside {
  margin-top: 3em;
  font-family: Poppins, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 20px;
  text-decoration: none;
  color: #363748;
}

.rightside a {
  color: #363748;
}

.rightside p {
  /* display: flex; */
  flex-wrap: wrap;
}

.contact {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
}

.contact img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
}

@media (max-width: 850px) {
  h2 {
    font-size: 40px;
  }
  .header {
    padding: 10px;
  }

  .rightside {
    font-size: 15px;
    margin-top: 0.5em;
  }
}

@media (min-width: 850px) {
  h2 {
    font-size: 40px;
  }
  .header {
    padding: 10px;
  }

  .rightside {
    font-size: 15px;
    margin-top: 0.5em;
  }
}


@media (min-width: 600px) {
  .landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 0px; */
    padding-bottom: 140px;
    gap: 30px;
  }
  /* .leftside {
    margin-top: 20px;
  } */
  h2 {
    font-size: 50px;
  }
  .rightside {
    margin-left: 55px;
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 0px; */
    padding-bottom: 140px;
    gap: 30px;
  }
  /* .leftside {
    margin-top: 20px;
  } */
  h2 {
    font-size: 50px;
  }
  .rightside {
    margin-left: 55px;
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 10px;
  }
  .logo {
    font-size: 8px;
    margin-left: 15px;
  }
  .menu button {
    padding: 5px;
    font-size: 12px;
  }
  .menu {
    margin-right: 15px;
  }
}

@media (max-width: 400px) {
  .header {
    padding: 10px;
  }
  .logo {
    font-size: 8px;
    margin-left: 15px;
  }
  .menu button {
    padding: 5px;
    font-size: 12px;
  }
  .menu {
    margin-right: 15px;
  }
}

@media (min-width: 850px) {
  .header {
    padding: 20px;
  }
}

/* section2 */

main {
  max-width: 100%;
  margin: auto;
}

.about {
  /* margin: auto; */
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #c5b7f6ea;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.spacedp {
  width: 350px;
  border-radius: 8px;
}

.socials img {
  width: 20px;
}

.socials {
  display: flex;
  justify-content: center;
}

.right-side h3 {
  font-size: 55px;
  font-style: italic;
}

.right-side p {
  padding-top: 20px;
  font-size: 25px;
  max-width: 600px;
  text-align: left;
}

@media (max-width: 1850px) {
  .spacedp {
    width: 330px;
    border-radius: 8px;
    padding-left: 50px;
  }
  .right-side h3 {
    font-size: 35px;
    font-style: italic;
  }
  .right-side p {
    padding-top: 20px;
    font-size: 20px;
  }
}

@media (max-width: 1358px) {
  .spacedp {
    width: 330px;
    border-radius: 8px;
    padding-left: 50px;
  }
  .right-side h3 {
    font-size: 35px;
    font-style: italic;
    text-align: center;
  }
  .right-side p {
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
  }
}

@media (max-width: 1220px) {
  .right-side h3 {
    font-size: 35px;
    font-style: italic;
    text-align: center;
  }
  .right-side p {
    padding-top: 20px;
    font-size: 18px;
    text-align: center;
  }

  .about {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
}

@media (max-width: 1050px) {
  .spacedp {
    width: 300px;
    border-radius: 8px;
    padding-left: 50px;
  }
  .right-side h3 {
    text-align: center;
    font-size: 32px;
    font-style: italic;
    padding-right: 120px;
  }
  .right-side p {
    padding-top: 20px;
    font-size: 22px;
    padding-right: 100px;
  }

  .about {
    display: flex;
    flex-direction: column;
  }
  .right-side {
    padding-left: 100px;
  }
}

@media (max-width: 950px) {
  .spacedp {
    width: 300px;
    border-radius: 8px;
    padding-left: 20px;
  }
  .right-side h3 {
    text-align: center;
    font-size: 32px;
    font-style: italic;
    padding-right: 120px;
  }
  .right-side p {
    padding-top: 20px;
    font-size: 22px;
    text-align: center;
    padding-right: 100px;
  }

  .about {
    display: flex;
    flex-direction: column;
  }

  .right-side {
    padding-left: 100px;
  }
}

@media (max-width: 700px) {
  .spacedp {
    width: 300px;
    border-radius: 8px;
    padding-right: 20px;
  }
  .right-side h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-style: italic;
    /* padding-right: 120px; */
  }
  .right-side p {
    padding-top: 20px;
    font-size: 20px;
    /* padding-right: 100px; */
  }

  .about {
    display: flex;
    flex-direction: column;
  }

  .right-side {
    padding-left: 100px;
  }
}

@media (max-width: 400px) {
  .spacedp {
    width: 300px;
    border-radius: 8px;
    padding-right: 20px;
  }
  .right-side h3 {
    /* display: flex;
    justify-content: center; */
    text-align: center;
    font-size: 14px;
    font-style: italic;
    /* padding-right: 120px; */
  }
  .right-side p {
    padding-top: 20px;
    font-size: 12px;
    text-align: center;
    /* padding-right: 20x; */
  }

  .about {
    display: flex;
    flex-direction: column;
  }
}

/* ============ offer ======= */

.offer-p {
  background-color: #bdafeeea;
}

.offer {
  padding-top:35px;
  text-align: center;
  font-size: 40px;
}

.design {
  padding-top: 70px;
  padding-bottom: 35px;
  /* padding-left: 30px; */
  display: flex;
  justify-content: space-around;
}

@media (max-width: 850px) {
  .design {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
}

.workings {
  background-color: #c5b7f6ea;
  padding-bottom: 20px ;
}
.work-title {
  padding-top: 80px;
  text-align: center;
}

.work-title h3 {
  font-size: 35px;
}

.wrks {
  padding-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center;
  flex-wrap: wrap;
  gap: 10px;
}

.grid-style {
  overflow: hidden;
  background-color: #c5b7f6;
  height: auto;
}

.mywork {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(22, 1fr);
  gap: 50px;
  height: 10;
  width: 90%;
  margin: auto;
   /* padding-left: 45px; 
  border: 2px none green;
  padding-top: 10px; */
}

.works {
  outline: 2px solid crimson;
}

.work1 {
  /* background-color: green; */
  grid-area: 2 / 2 / 10 / 9;
  background-image: url(./images/1.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.work2 {
  grid-area: 2 / 9 / 10 / 16;
  background-image: url(./images/2.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.work3 {
  grid-area: 2 / 16 / 10 / 23;
  background-image: url(./images/3.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.work4 {
  grid-area: 10 / 2 / 18 / 9;
  background-image: url(./images/4.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.work5 {
  grid-area: 10 / 9 / 18 / 16;
  background-image: url(./images/5.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.work6 {
  grid-area: 10 / 16 / 18 / 23;
  background-image: url(./images/6.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

@media(min-width:1450px){
.images1{
  display: none;
}
}

@media(max-width:1450px){
  .mywork{
    display: none;
}

.images1{
  display: flex;
}

.images1 img{
  /* border: 2px solid green ; */
  width: 200px;
  display: flex;
  /* flex-wrap: wrap; */
  /* gap: 2em; */
  max-width: 30%;
  margin: auto;
  padding: 10px;
}

}



/* @media(min-width:1450px){
  .images1{
    display: none;
}
} */

/* 
 @media (max-width: 1700px) {
  .mywork {
    grid-template-rows: repeat(40, 1fr);
     grid-template-rows: repeat(22, 1fr); 
    gap: 50px;
    height: 80vh;
    width: 80%;
    margin: auto;
  }

  .work1 {
    grid-area: 4 / 4 / 10 / 12;
  }

  .work2 {
    grid-area: 4 / 12 / 10 / 20;
  }

  .work3 {
    grid-area: 12 / 4 / 18 / 12;
  }

  .work4 {
    grid-area: 12 / 12 / 18 / 20;
  }

  .work5 {
    grid-area: 20 / 4 / 26 / 12;
  }

  .work6 {
    grid-area: 20 / 12 / 26 / 20;
  }
}  */

/* ========== SAY SECTION ========== */

.say {
  text-align: center;
  padding: 70px;
  background-color: #bdafeeea;
  font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.say h4 {
  padding-top: 20px;
  font-size: larger;
}


@media(max-width:670px){
  .recommend {text-align: center;
 padding: 20px;
}


 @media (min-width: 671px) {
  .recommend {text-align: center;
 padding: 60px;}
 }

 @media(max-width: 500px) {
  .recommend p{
    font-size: 1em;
    padding-bottom: 20px;
    text-align: left;
    
  }
 }
  @media(max-width:400px){
    .recommend {
      text-align: left;
      font-size: 10px;
    }

    .say{
      padding-top: 30px;
    }
  }
}

/* From Uiverse.io by Gaurav-WebDev
.button {
  height: 50px;
  width: 300px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #252525;
  overflow: hidden;
  border-radius: 30px;
  color: #333;
  transition: all 0.5s ease-in-out;
}

.btn-txt {
  z-index: 1;
  font-weight: 100;
  letter-spacing: 1px;
}

.type1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: #333;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.button:hover {
  box-shadow: 1px 1px 200px #252525;
  color: #fff;
  border: none;
}

.contacts textarea {
  margin-bottom: 10px;
}

.type1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
} */
.contact-card{
  width: 30%;
  margin: auto;
}

.sent{
  margin: auto;
}
.contacts {
  padding-top: 70px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
  background-color: #c5b7f6ea;
}

textarea{ background-color: #c5b7f6;
row-gap: 10px;}
.cnt {
  display: flex;
  align-items: center;
  gap: 2em;
 padding-bottom: 2em;
}


input {
  background-color: #c5b7f6ea;
  /* width: rem; */
  height: 25px;
}

@media(max-width:1100px){
input{
  width: 60%;
  margin: auto;
}

textarea{
  width: 100%;
  margin: auto;
}

/* .contact-card button{
  width: 40%;
  margin: auto;
} */
}

@media(max-width:600px){
input{
  width: 80%;
  margin: auto;
}

textarea{
  width: 100%;
  margin: auto;
}

.sent {
font-size: 15px;
}
}



/* @media(max-width:870px){
  .contact-card{
    width: 50%;
    margin: auto;
  }
  } */

 /* @media(max-width:1300px){ 
  .contact-card{
    width: 20%;
    margin: auto;
  }
}


@media(max-width:1200px){
  .contact-card{
    width: 60%;
    margin: auto;
    
    
  }
}

@media(max-width:500px){
  .contact-card{
    width: 50%;
    margin: auto;
  }
} */


.footer {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #b0a0fc;
}

